<!-- Actual search box -->
<div class="container">
  <p class="travel-text">{{'Where do you want to travel?' | translate}} </p>
  <div class="row">
    <div class="col">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" placeholder="{{'Search FROM' | translate}}" />
      </div>
    </div>
    <div class="col">
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input type="search" class="form-control" placeholder="{{'Search TO' | translate}}" />
      </div>
    </div>
  </div>
  <div class="info-container">
    <h2>{{'Travel safely with us' | translate}}</h2>
    <p class="info-text">
      {{"Right now the Swedish Public Health Agency recommends that you use a face mask when traveling with public transport when it's crowded. Read more about how you can help us make the journey safe for you and your fellow travelers here." | translate}}
    </p>
  </div>
</div>

<div class="container">
  <div class="border-bottom">
    <div class="row">
      <div class="col">
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >update</mat-icon
          >
          <p class="icon-text">{{'Last minute' | translate}}</p>
        </a>
      </div>
      <div class="col">
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >warning</mat-icon
          >
          <p class="icon-text">{{'Traffic info' | translate}}</p>
        </a>
      </div>
      <div class="col">
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >confirmation_number</mat-icon
          >
          <p class="icon-text">
            {{'Commuter tickets & annual passes' | translate}}
          </p>
        </a>
      </div>
      <div class="col">
        <a href="">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >directions_transit_filled</mat-icon
          >
          <p class="icon-text">{{'My trip' | translate}}</p>
        </a>
      </div>
    </div>
  </div>
</div>

