<!-- Actual search box -->
  <div class="container">
    <p class="travel-text">Vart vill du resa?</p>
    <div class="row">
      <div class="col">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="search" class="form-control" placeholder="Search FROM">
  </div>
  </div>
  <div class="col">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="search" class="form-control" placeholder="Search TO">
  </div>
</div>
    </div>
    <div class="info-container">
    <h2>Travel safely with us</h2>
    <p class="info-text">Right now, the Swedish Public Health Agency recommends that you travel by public transport and cannot avoid the hassle of using a mouth guard. Read more about how you can help us make the journey safe for you and your fellow travelers here. </p>
  </div>
  </div>


  <!-- <div class="container">
  <p class="travel-text">Vart vill du resa?</p>
  <div class="row">
    <div class="col">
      <input class="form-control" type="search" placeholder="Search From">
    </div>
    <div class="col">
      <input class="form-control" type="search" placeholder="Search To">
    </div>
  </div>
</div> -->

<!-- <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Username" aria-label="Username">
  <span class="input-group-text">@</span>
  <input type="text" class="form-control" placeholder="Server" aria-label="Server">
</div> -->
<!--





<!-- <form class="input-form">
  <div class="input-text">
    <div class="search-forms">
      <input type="search"  placeholder="Search FROM">
      <input type="search"  placeholder="Search TO">
    </div>
</div>
</form> -->



