
.page-orientation-bar-back {
  text-align: center;
  background-color: rgb(120, 190, 14);
  border: solid 1px white;
}
.page-orientation-bar-back a{
  color: white;
  font-size: 10px;
}

.page-orientation-bar-current {
  text-align: center;
  background-color: #156e31;
  border: solid 1px white;
  padding-left: 0px;
  padding-right: 0px;
}
.page-orientation-bar-current a{
  color: white;
  font-size: 10px;
}

.page-orientation-bar-next {
  text-align: center;
  background-color: rgb(235, 231, 231);
  border: solid 1px white;
}
.page-orientation-bar-next a{
  color: rgb(134, 134, 134);
  font-size: 10px;
}

h1{
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}


.train-container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.train-carriages {
  /* display: flex;
  justify-content: center; */
  width: 800px;
  height: 300px;
  overflow-x: scroll;
  /* position: relative; */
}

.seats-overview {
  margin-top: 50px;
  width: 800px;
  height: fit-content;
  display: flex;
  display: inline-block;
}

#continue-btn-phone {
  border-radius: 0px;
  background-color:  #156e31;
  border-bottom: solid 3px #105426;
  font-weight: bold;
  text-align: left;
  color: white;
  transition: 0.40s linear;
  margin-bottom: 20px;
}

.seat {
  height: 50px;
  width: 40px;
  margin: 20px;
}

.selected-seat {
  background-color: green;
}

.seat-display {
  border-radius: 5px;
  border-width: 2px;
  border: black;
}

.occupied {
  background-color: red;
}

.carriage {
  width: 200px;
  height: 60px;
  display: flex;
  display: inline-block;
  margin-right: 10px;
}

.restaurant {
  background-color: rgb(173, 173, 173);
  width: 200px;
  height: 60px;
  display: flex;
  display: inline-block;
}

.continue-btn {
  margin-left: 10px;
}

.carriage-thing {
  width: 700px;
  height: 300px;
  /* display: flex; */
  /* justify-content: center; */
  margin: 4em;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
@media (min-width: 780px){
  .phone-ticket{
      visibility: hidden;
      display: none;
  }
  .phone-bottom{
      visibility: hidden;
      display: none;
  }
  .page-orientation-bar-current a{
      font-size: 13px;
  }
  .page-orientation-bar-next a{
      font-size: 13px;
  }
  .page-orientation-bar-back a{
      font-size: 13px;
  }
}

@media (max-width: 780px){
  .desktop-ticket{
      visibility: hidden;
      display: none;
  }
  .desktop-bottom{
      visibility: hidden;
      display: none;
  }
  .page-orientation-bar-current a{
      font-size: 10px;
  }
  .page-orientation-bar-next a{
      font-size: 10px;
  }
  .page-orientation-bar-back a{
      font-size: 10px;
  }
}
