<div class="container">
      <div class="row page-orientagion">
          <div class="col page-orientation-bar-back">
              <a href="">
                  1.
              </a>
          </div>
          <div class="col page-orientation-bar-back">
            <a routerLink="/departures">
                  2. {{'Timetable' | translate}}
              </a>
          </div>
          <div class="col-3 page-orientation-bar-current">
              <a>
                 3. {{'Optional' | translate}}
              </a>
          </div>
          <div class="col page-orientation-bar-next">
              <a>
                  4.
              </a>
          </div>
          <div class="col page-orientation-bar-next">
              <a>
                  5.
              </a>
          </div>
          <div class="col page-orientation-bar-next">
              <a>
                  6.
              </a>
          </div>
      </div>
  </div>

  <div class="container h-75 train-container">
    <div class="align-items-center h-75">
      <div class="scrolling-wrapper">
        <div *ngFor="let carriage of carriages" (click)="selectCarriage(carriage)" class="carriage card"><h2 class="carriage-type">{{carriage.CarriageType}}</h2>
      </div>
      </div>
        <div *ngIf="selectedCarriage !== undefined" class="seats">
          <div class="seats-overview card">
              <mat-button-toggle-group #group="matButtonToggleGroup" class="carriage-thing card row" multiple (change)="change(group)">
            <div *ngFor="let seat of seats | async">
              <div *ngIf="!seat.Occupied" class="seat card" (click)="selectSeat(seat.SeatNumber!, seat.Id!)">
                <mat-button-toggle>
                  {{seat.SeatNumber}}
                </mat-button-toggle>
              </div>
              <div *ngIf="seat.Occupied" class="seat card occupied">
                <mat-button-toggle>
                  {{seat.SeatNumber}}
                </mat-button-toggle>
              </div>
            </div>
          </mat-button-toggle-group>
          </div>
          </div>
          <div class="container train-container"><h1>Passengers: {{booking.Travelers!.length}}</h1></div>
          <div *ngIf="selectedSeat.length > 0" class="container train-container">
            <h1>You selected seat {{selectedSeat.concat()}} on carriage {{selectedCarriage.CarriageType}} </h1>
            <button class="btn btn-success" (click)="submit()">{{'Continue' | translate }}</button>
          </div>
        </div>
      </div>




