<div class="container">

  <table class="table table-striped table">
    <div class="wrapper">
      <h2>Stockholm Central - Göteborg C
      </h2>
      <div class="container">
        <thead>
          <tr>

            <th scope="col">First</th>
            <th scope="col">2 klass</th>
            <th scope="col">1 klass </th>
          </tr>
        </thead>
        <div class=" depature-info">
          <div class="box-info">
            <li *ngfor="item of items">
              {{items}}</li>
          </div>
          <!-- <div>sj snabbtåg</div>
            <div>Avgår --:-- - --:--</div>
          </div>
          <div>Pris 2 klass</div>
          <div>pris 1 klass</div>


        </div>
      </div>
      <div class="container">

        <div class=" depature-info">
          <div class="box-info">
            <div>sj snabbtåg</div>
            <div>Avgår --:-- - --:--</div>
          </div>
          <div>Pris 2 klass</div>
          <div>pris 1 klass</div>


        </div>
      </div>
      <div class="container">

        <div class=" depature-info">
          <div class="box-info">
            <div>sj snabbtåg</div>
            <div>Avgår --:-- - --:--</div>
          </div>
          <div>Pris 2 klass</div>
          <div>pris 1 klass</div>


        </div>
      </div>
      <div class="container">

        <div class=" depature-info">
          <div class="box-info">
            <div>sj snabbtåg</div>
            <div>Avgår --:-- - --:--</div>
          </div>
          <div>Pris 2 klass</div>
          <div>Pris 1 klass</div>


        </div>
      </div>
      <div class="container">

        <div class=" depature-info">
          <div class="box-info">
            <div>sj snabbtåg</div>
            <div>Avgår --:-- - --:--</div>
          </div>
          <div>Pris 2 klass</div>
          <div>Pris 1 klass</div>


        </div>
      </div>
    </div>
  </table>
</div> -->