<div class="container">
    <div class="container" style="border: 2px solid red;">
        <div class="row">
            <div class="col-md-8" style="border: 2px solid red;">
                <h1>Welcome, Skalle Skallesson!</h1>
                <div class="container travel-info">
                    <h2>Kommande Resor</h2>
                    <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Avresestation</th>
                            <th scope="col">Destination</th>
                            <th scope="col">Avgångstid</th>
                            <th scope="col">Ankomsttid</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>Göteborg C</td>
                            <td>Stockholm C</td>
                            <td>12.45</td>
                            <td>16:00</td>
                          </tr>
                        </tbody>
                      </table>
                      <h2>Pendlarbiljetter</h2>
                      <table class="table">
                          <thead class="thead-dark">
                            <tr>
                              <th scope="col">#</th>
                              <th scope="col">Avresestation</th>
                              <th scope="col">Destination</th>
                              <th scope="col">Avgångstid</th>
                              <th scope="col">Ankomsttid</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">1</th>
                              <td>Göteborg C</td>
                              <td>Stockholm C</td>
                              <td>12.45</td>
                              <td>16:00</td>
                            </tr>
                          </tbody>
                        </table>
                        <h2>Kontokort</h2>
                        <table class="table">
                            <thead class="thead-dark">
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Kortnummer</th>
                                <th scope="col">Poäng</th>
                                <th scope="col">Nivå</th>
                                <th scope="col">Giltlig till</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">1</th>
                                <td>3456 4567 3241 4503</td>
                                <td>1000</td>
                                <td>Vit</td>
                                <td>1 januari 2024</td>
                              </tr>
                            </tbody>
                          </table>                   
                </div>
            </div>
            <div class="col-md-4" style="border: 2px solid red;">
                <div class="container inner-container">
                    <div class="container inner-container border-bottom">
                        <h3>Ditt Priokort</h3>
                        <div class="row">
                            <div class="col">
                                <div class="container inner-container">
                                    <h2>1000</h2>
                                    <p>Priopoäng</p>
                                </div>
                            </div>
                            <div class="col">
                                <div class="container inner-container">
                                    <h2>Vit</h2>
                                    <p>Medlemsnivå</p>
                                </div>
                            </div>
                        </div>                     
                    </div>
                    <div class="container inner-container border-bottom">
                        <h3>Poäng som förfaller</h3>
                        <div class="row">
                            <div class="col">
                                <p>1 januari 2024</p>
                            </div>
                            <div class="col">
                                <h2>1000</h2>
                            </div>
                        </div>
                    </div>
                        <div class="container inner-container border-top">
                            <h3>Kontokort</h3>
                            <h2>3456 4567 3241 4503</h2>
                        </div>                 
                </div>
            </div>
        </div>
    </div>
</div>