.page-orientation-bar-back {
  text-align: center;
  background-color: rgb(120, 190, 14);
  border: solid 1px white;
}

.page-orientation-bar-back a {
  color: white;
  font-size: 10px;
}

.page-orientation-bar-current {
  text-align: center;
  background-color: #156e31;
  border: solid 1px white;
  padding-left: 0px;
  padding-right: 0px;
}

.page-orientation-bar-current a {
  color: white;
  font-size: 10px;
}

.page-orientation-bar-next {
  text-align: center;
  background-color: rgb(235, 231, 231);
  border: solid 1px white;
}

.page-orientation-bar-next a {
  color: rgb(134, 134, 134);
  font-size: 10px;
}

.datepicker{
  background-color: black;
}

h1 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  align-items: center;
  background-color: #f4f4ee;
}

.choosen-cities-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 3rem;
  /* font-size:larger; */
}
.choosen-cities-container h2 {
  font-size: 1.8rem;
  font-weight: 400;
}

.date-choosen-cities {
  display: flex;
  justify-content: space-between;
}

#datesContainer{
  padding: 20px;
}

#datesContainer p {
  margin: 0px;
}

.info-tabel-header{
  display:flex;
  justify-content:space-between;
  margin-top: 3rem;
}

.info-tabel-header > div{
  padding: 0px;
}

.depature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height:75px;
  margin-top: 8px;
  width:auto;
}

.left-container{
  padding: 0px;
}
.right-container {
  display: flex;
  justify-content:center;
  width: 100%t;
  padding: 0px;
  margin: 0px;
/* height:100% */
}

.box-info {
  display: flex;
  height: fit-content;
  background-color: #F4F4EE;
  border-radius: 5px;
  padding: 15px;
}

/* *********** PRICE SECTION ********* */
.price-box {
  display: flex;
  /* width :40%; */
  /* flex-direction:column; */
  justify-content:space-evenly;
  /* align-items: start; */
  /* border: 1px solid #d6d660; */
}


/* .btn{
  color: #fff!;
} */
/* .price-box-first:hover {
  background-color: #fafaf7;
  color: #00a2c7;
} */
/* .price-box-first-clicked {
  border: #adb5bd solid 1px;
  margin-top: 5px;
  width: 6rem;
  text-align: right;
  cursor: pointer;
  padding-right: 5px;
  padding-top: 5px;
  background-color: #00a2c7;
  color: #fff;
} */

.price-box-second{
 border:#adb5bd solid 1px;
 margin-top:5px;
  width: 6rem;
  text-align: left;
  cursor: pointer;
  border-bottom: 2px solid #00af49;
}
.price-box-second:hover {
  background-color: #fafaf7;
  color: #00af49;
}

.price-box-second > div {
  padding-left: 5px;
  padding-top: 5px;
}

.more-train-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

.train-image{
  width:160px;
  margin-top: 5px;
}
.train-pic-holder{
  height: 100px;
  position:relative;
}

.box-holder{
  display: flex;
  width: 80%;
}

/*  CUSTOM PAGINATION DESIGN */

.custom-pagination {
  /* width: 80vh; */
  display: flex;
  /* flex-direction:column; */
  justify-content: space-between;
  align-items: center;
  /* justify-items: end; */
  /* flex-direction: column; */
}

.ticketBox{
  margin-top: 15px;
  margin-bottom: 15px;
}

.travelerSection{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.travelerSection > button{
  width: 100px;
  height: 50px;
  border: solid 1px rgb(58, 58, 58);
  border-radius: 3px;
  background-color: white;
}

.travelerSection > button:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

mat-form-field{
  margin-right: 10px;
}

.dropdowns{
  display: flex;
  flex-wrap: wrap;
  width: 90%
}

mat-expansion-panel-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.arrvial-holder {
  margin-top: -10px;
}

.summary {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items:baseline;
  bottom:0;
  background-color: #2D3436;
  z-index:10;
}
.summary-btn{
  margin-left: 10px;

}


.prev-hidden {
  display: none;
}

/* **************************************************************** */
.price-box-first{
   width: 20%;  
   /* height: 20%;   */
   position: absolute;  
   z-index: 1;  
   background: #f7f7f7;    
   border: 2px solid #d1d1d1;  
   color: rgb(63, 63, 63);  
   border-radius: 5px;  
   display: flex;  
   justify-content: center;  
   align-items: center;  
   overflow: hidden;  
   transition: all 0.6s;  
  /* width: 120px;
  height: fit-content;
  text-align:center;
  cursor: pointer; */
}
.price-box-first input{  
   position: absolute;  
   cursor: pointer;  
   width: 200%;  
   height: 200%;  
   z-index: 2;  
   appearance: none;  
   -webkit-appearance: none;  
 } 
/* #button12 input {
 position: absolute;  
   cursor: pointer;  
   width: 100%;  
   height: 100%;  
   z-index: 2;  
   appearance: none;  
   -webkit-appearance: none;  } */

/* #button12:hover {
background-color: red;}

#button12:focus, #button1.active {
background-color: green;} */

/* #button2 {
height: 48px;
width: 240px;}

#button2:hover {
background-color: red;}

#button2:focus, #button2.active {
background-color: green;} */

.box p{  
   transition: all 0.2s;  
 }  

 .price-box-first input:checked ~ .box p{  
   /* transform: translateY(-30px); */
   /* transform: translateX(30px) */
 } 
 /* .box p::before{  
   content: attr(data-text);  
   position: absolute;  
   transform: translateY(30px);  
 } */
 .price-box-first input:checked ~ .box p::before{  
   transform: translateY(30px);  
 } 
 /* .price-box-first input: ~ .box{

 } */
 .price-box-first input:checked ~ .box {  
   text-align: center;
   background: #f7f7f7;
   padding: 2px; 
   border: 2px solid #185ADB;
   border-radius: 5px;
   width:100%;
   /* height: 50%; */
   color: #185ADB;
 }



