<!-- Radio buttons for delivery method -->
<div class="container">
  <div class="container">
    <div class="row page-orientagion">
      <div class="col page-orientation-bar-back">
        <a href="">
          1.
        </a>
      </div>
      <div class="col page-orientation-bar-back">
        <a routerLink="/departures">
          {{'Timetable' | translate}}
        </a>
      </div>
      <div class="col page-orientation-bar-back">
        <a routerLink="/seat">
          {{'Optional' | translate}}
        </a>
      </div>
      <div class="col page-orientation-bar-back">
        <a routerLink="/overview">
          {{'Overview' | translate}}
        </a>
      </div>
      <div class="col-3 page-orientation-bar-current">
        <a href="">
          {{ "Payment" | translate }}
        </a>
      </div>
      <div class="col page-orientation-bar-next">
        <a>
          6.
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="container no-padding">
        <h2>{{ "Delivery" | translate }}</h2>
        <div id="radio-buttons">
          <div class="container border no-padding">
            <label class="form-check-label radio-label" for="flexRadioDefault1">
            <div class="form-check padding" data-toggle="collapse" href="#e-ticket" role="button" aria-expanded="false"
              aria-controls="e-ticket">
                <span><input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    checked /></span>
                <span>{{ "E-ticket" | translate }}</span>
            </div>
          </label>
            <div class="container collapse" id="e-ticket" data-parent="#radio-buttons">
              <hr />
              {{ 'The ticket is a pdf that is sent to your e-mail.On the train, you show the ticket in your mobile or
              computer. You can also print the ticket.' | translate }}
            </div>

          </div>
          <div class="container border no-padding">
            <label class="form-check-label radio-label" for="flexRadioDefault2">
            <div class="form-check padding" data-toggle="collapse" href="#sms-ticket" role="button"
              aria-expanded="false" aria-controls="sms-ticket">

                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked />

                {{ "SMS-ticket" | translate }}

            </div>
          </label>
            <div class="container collapse" id="sms-ticket" data-parent="#radio-buttons">
              <hr />
              {{ 'An SMS with a link to your ticket will be sent the day before departure. If you travel within 24
              hours, the ticket will be sent within 15 minutes. The SMS ticket must be able to be read electronically on
              board. If your screen is broken, we recommend a different delivery method.' | translate }}
            </div>
          </div>
        </div>
        <!-- Form -->
        <form class="container no-padding" [formGroup]="paymentForm">
          <h2>{{ "Ticket recipient" | translate }}</h2>
          <div class="row">
            <div class="col col-md-4">
              <label
                for="validationName"
                class="form-label"
                required>
                {{ "First name" | translate }}
              </label>
              <input
              type="text"
              id="validationName"
              class="form-control"
              maxlength="30"
              formControlName="firstName"
              required
              >
              <small *ngIf="firstName!.invalid && firstName!.touched ">{{ 'First name is required' | translate }}</small>

            </div>
            <div class="col col-md-4">
              <label for="">{{ "Last name" | translate }}</label>
              <input
                type="text"
                class="form-control"
                maxlength="30"
                formControlName="lastName"
                required
                />
                <small *ngIf="lastName!.invalid && lastName!.touched">{{ 'Last name is required' | translate }}</small>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-4">
              <label for="">{{ "Phone number" | translate }}</label>
              <input
              type="tel"
              class="form-control"
              minlength="10"
              maxlength="14"
              formControlName="phoneNumber"
              required />
              <small *ngIf="phoneNumber!.invalid && phoneNumber!.touched">{{ 'Phone number is required' | translate }} <br>
                {{ 'Example:' | translate}} +46727505050</small>
            </div>
            <div class="col col-md-4">
              <label for="">E-mail</label>
              <input
              type="email"
              class="form-control"
              maxlength="40"
              formControlName="email"
              required/>
              <small *ngIf="email!.invalid && email!.touched">
                {{ 'Email is required' | translate }}
                <br>
                {{ 'Example:' | translate }} test@hotmail.com
              </small>
            </div>
          </div>
        </form>

        <div  *ngIF="test()" [ngClass]="ticketText">
          
        </div>

        <!-- Buttons for navigating -->
        <div class="container no-padding">
          <div class="row">
            <div [ngClass]="buttons">
              <a class="a-tag-back" routerLink="/overview">
                <span><i class="fa fa-angle-left fa-10x"></i></span>
                <span>{{ "Back" | translate }}</span>
              </a>
            </div>
            <div class="col pull-right">
              <div class="row pull-right">
                <div class="col col-btn no-padding">
                  <button type="button" class="btn btn-primary btn-lg btn-block" id="cancel-btn" (click)="openDialog()">{{ 'Cancel' | translate }}</button>
                </div>
                <div class="col pull-right col-btn no-padding">
                  <button type="submit" class="btn btn-primary btn-lg btn-block" id="continue-btn" (click)="checkout()" [disabled]="paymentForm.invalid">{{ 'Checkout' | translate }}
                    <span class="pull-right">
                      <i class="fa fa-angle-right fa-lg"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!------------------------------------------------- second column ----------------------------------------------------------->
    <div [ngClass]="ticketText">
      <!-- Current ticket -->
      <div class="container main sticky-top no-padding pull-right">
        <div class="my-choices">
          <h3> {{ 'My choices' | translate }} </h3>
        </div>
        <div class="ticket-info">
          <div class="ticket-time">
            <h4>{{booking.FromLocation!.AdvertisedLocationName}} - {{booking.ToLocation!.AdvertisedLocationName}}</h4>
            <p>{{booking.TimeTable!.DepartureTime}} - {{booking.TimeTable!.ArrivalTime!}} </p>
          </div>
          <br>
          <div class="price">
            <p>{{booking.Travelers?.length}} {{ this.travelerMessage | translate }} </p>
            <p>{{booking.Price}}:-</p>
          </div>
          <hr>
          <div class="pay">
            <p>Total</p>
            <p>{{booking.Price}}:-</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
