/* :host.dark-mode {
  background-color: #2d3436;
  color: #dfe6e9;
}

:host.light-mode {
  background-color: #ffffff;
  color: #2d3436;
} */

/* div {
  color: inherit;
} */

a {
  color: inherit;
}

.flag-icon {
  height: 20px;
  width: 20px;
}

.toggler {
  padding-top: 10px;
}

.selected-language img {
  width: 20px;
  height: 20px;
}

.form-control {
  width: 150px;
}

.country-initials {
  padding-left: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-button {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown {
  padding-top: 5px;
}


@media screen and (max-width: 990px) {
  .flag-icon {
    height: 25px;
    width: 25px;
  }
  .country-initials {
    padding-left: 5px;
    font-family: monospace;
    font-size: 15px;
  }
}


