<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">{{'Train Booking'| translate }} </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">{{'Home' | translate}}</a>
      <a class="nav-item nav-link" routerLink="/stations" routerLinkActive="active">{{'Stations' | translate}}</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{'Language' | translate}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="translate.setLanguage('en')">{{'English' | translate}}</a>
          <a class="dropdown-item" (click)="translate.setLanguage('sv')">{{'Swedish' | translate}}</a>
        </div>
      </li>
    </div>
  </div>
</nav>



<!-- Test routing -->
<!-- <button mat-button><a routerLink="/stations" routerLinkActive="active">Stations</a></button> -->
