

/* div {
  color: inherit;
} */

a {
  color: inherit;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,64,129, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(109, 30, 82);
}

.flag-icon {
  height: 20px;
  width: 20px;
}

.toggler {
  padding-top: 10px;
}

.selected-language img {
  width: 20px;
  height: 20px;
}

.form-control {
  width: 150px;
}

.country-initials {
  padding-left: 5px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu-button {
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dropdown {
  padding-top: 5px;
}


@media screen and (max-width: 990px) {
  .flag-icon {
    height: 25px;
    width: 25px;
  }
  .country-initials {
    padding-left: 5px;
    font-family: monospace;
    font-size: 15px;
  }
}


