.row {
  text-align: center;
}

.card {
  margin-top: 50px;
  background-color: inherit;
  border-radius: 5px;
  border-color: inherit;
}

/* mat-label.light-mode {
  color: black;
}

mat-label.dark-mode {
  color: white;
} */

mat-form-field {
  width: 100%;
  border-color: inherit;
}

button {
  width: 70%;
  padding: 15px;
  color: inherit;
}

div {
  color:inherit
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: inherit!important;
}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
}

::ng-deep .mat-form-field-label {
    color: inherit!important;
}
