.row {
  text-align: center;
}

.card {
  margin-top: 50px;
  background-color: inherit;
  border-radius: 5px;
  border-color: inherit;
}


/* mat-label.light-mode {
  color: black;
}

mat-label.dark-mode {
  color: white;
} */

mat-form-field {
  width: 100%;
  border-color: inherit;
}

button {
  width: 70%;
  padding: 15px;
}

div {
  color:inherit
}
