<div class="container">
    <div class="row page-orientagion">
        <div class="col page-orientation-bar-back">
            <a href="">
                1.
            </a>
        </div>
        <div class="col page-orientation-bar-back">
            <a href="">
                2.
            </a>
        </div>
        <div class="col page-orientation-bar-back">
            <a href="">
                3.
            </a>
        </div>
        <div class="col-3 page-orientation-bar-current">
            <a href="">
                4. Overview
            </a>
        </div>
        <div class="col page-orientation-bar-next">
            <a href="">
                5.
            </a>
        </div>
        <div class="col page-orientation-bar-next">
            <a href="">
                6.
            </a>
        </div>
    </div>
    <h1>Overview</h1>
    <div class="container ticket no-padding border shadow-sm">
        <div class="container border-bottom">
            <div class="container inner-container">
                <h2>
                    <span>Göteborg C</span>
                    <span> - </span>
                    <span>Sthlm Central</span>
                </h2>
                <p>
                    <span>Torsdag 23 december 2021</span>
                    <span class="time">kl 06:24</span>
                </p>
            </div>
        </div>
        <div class="container border-bottom">
            <p>1 Traveller</p>
            <p>2 class</p>
            <p>Can not be rebooked</p>
            <p><i class="fa fa-check"></i> Seat reservation</p>
        </div>
        <div class="container border-bottom">
            <div class="container inner-container no-padding">
                <p>
                    <span id="left">
                        SJ
                    </span>       
                     <span>
                         Travel time 3:11h
                     </span>
                     <span id="right">
                         0 changes
                     </span>
                </p>           
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col" id="left">
                    <h4>Total</h4>
                </div>
                <div class="col" id="center">
                    <h4>1024:-</h4>
                </div>
                <div class="col" id="right">
                    <span>
                        <a href="">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container ticket no-padding border shadow-sm">
        <div class="container border-bottom">
            <div class="container inner-container">
                <h2>
                    <span>Göteborg C</span>
                    <span> - </span>
                    <span>Sthlm Central</span>
                </h2>
                <p>
                    <span>Torsdag 23 december 2021</span>
                    <span class="time">kl 06:24</span>
                </p>
            </div>
        </div>
        <div class="container border-bottom">
            <p>1 Traveller</p>
            <p>2 class</p>
            <p>Can not be rebooked</p>
            <p><i class="fa fa-check"></i> Seat reservation</p>
        </div>
        <div class="container border-bottom">
            <div class="container inner-container no-padding">
                <p>
                    <span id="left">
                        SJ
                    </span>       
                     <span>
                         Travel time 3:11h
                     </span>
                     <span id="right">
                         0 changes
                     </span>
                </p>           
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col" id="left">
                    <h4>Total</h4>
                </div>
                <div class="col" id="center">
                    <h4>1024:-</h4>
                </div>
                <div class="col" id="right">
                    <span>
                        <a href="">
                            <i class="fa fa-trash"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h3 id="left">Total</h3>
        </div>
        <div class="col">
            <h3 id="right">2048:-</h3>
        </div>
    </div>
    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
</div>