<div class="container">
  <div class="choosen-cities-container">
    <h2>Stockholm Central - Göteborg C
    </h2>
  </div>

  <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->

  <pagination-template #p="paginationApi" (pageChange)="page = $event">
  </pagination-template>


  <div class=" row no-gutters">
    <div class="col-md-4 col- no-padding">
      <div class="custom-pagination">
        <div class="pagination-icon-previous">
          <span (click)="p.previous()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>Tidigare resor
          </span>

          <div>
            current date
          </div>
          <div class="pagination-icon-next">
            <span (click)="p.next()">Senare resor
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </span>

          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="date-choosen-cities">
    <table class=" table table-striped table">
      <div class="wrapper">

        <div class="container">

          <div class="info-tabel-header">
            <div class="col-5">avgång</div>
            <div>
              2 klass
            </div>
            <div>1 klass</div>
          </div>
          <!-- loops and create list of departures "dynamic from component" -->

          <div *ngFor="let departures of tableData | paginate: { itemsPerPage: 4, currentPage: page,
        totalItems:totalLength } let i=index">
            <div class=" depature-info" (click)="selectDeparture(departures.id)">
              <div class=" container box-info">
                <div class="col-5">{{departures.departure}} {{i}}</div>
                <div>{{departures.secondClass}}</div>
                <div>{{departures.firstClass}}</div>
              </div>
              <div *ngIf="selectedDepartureId != 0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ab
                consequuntur sunt culpa amet
                illo, porro, odio magnam deleniti dicta magni. Assumenda architecto recusandae aliquam cumque
                temporibus necessitatibus a eos.</div>



            </div>
          </div>
        </div>
      </div>
    </table>

  </div>