<div class="container">
  <div class="choosen-cities-container">
    <h2>Stockholm Central - Göteborg C
    </h2>
  </div>

  <!-- <pagination-controls (pageChange)="page = $event"></pagination-controls> -->

  <pagination-template #p="paginationApi" (pageChange)="page = $event">
  </pagination-template>


  <div class=" row no-gutters">
    <div class="col-md-4 col- no-padding">
      <div class="custom-pagination">
        <div class="pagination-icon-previous">
          <div (click)="p.previous()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>Tidigare resor
          </div>

          <div>
            current date
          </div>
          <div class="pagination-icon-next">
            <div (click)="p.next()">Senare resor
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="date-choosen-cities">
    <table class=" table table-striped table">
      <div class="wrapper">

        <div class="container">

          <div class="info-tabel-header">
            <div class="col-5">avgång</div>
            <div>
              2 klass
            </div>
            <div>1 klass</div>
          </div>
          <!-- loops and create list of departures "dynamic from component" -->

          <div *ngFor="let departures of tableData | paginate: { itemsPerPage: 4, currentPage: page,
        totalItems:totalLength } let i=index">
            <mat-accordion>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{departures.departure}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{departures.secondClass}}
                  </mat-panel-description>
                  <mat-panel-description>
                    {{departures.firstClass}}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <p>{{departures.departure}}</p>
                <div class=" container box-info">
                  <div class="more-train-info">
                    <h1>{{departures.departure}}</h1> <img class="train-image"
                      src="../../../../assets/images/dubbeldackare-70x340.png" alt="">
                    {{departures.arrival}}
                  </div>

                  <div class="price-box">
                    <div>{{departures.firstClass}}</div>
                    <div>{{departures.secondClass}}</div>
                  </div>

                </div>



              </mat-expansion-panel>
            </mat-accordion>
            <!-- <div class=" depature-info"> -->
            <!-- <div class=" container box-info">


            </div> -->




            <!-- </div> -->
          </div>
        </div>
      </div>
    </table>
  </div>